.navbar .navbar__inner,
.docs-wrapper {
  margin: 0 auto;
  max-width: var(--max-width);
  width: 100%;
}

.menu__link {
  white-space: nowrap;
  /* font-size: 14px; */
}

/* footer */
.footer__links {
  margin-bottom: 3rem;
}
.row .col.footer__col:first-child {
  flex-grow: 0;
}
.footer__col:first-child .footer__items {
  width: 70px;
}
.footer-logo-home {
  opacity: 0.4;
}
.footer-logo-home:hover {
  opacity: 1;
}
.gitstar {
  padding: 0 1em;
}
.footer__link-item,
.footer__copyright {
  color: var(--footer-link-color);
}

/* 社区项目 */

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
}
.homepage-card {
  width: 345px;
  height: 150px;
  padding: 25px 20px;
  color: #000000;
  background-color: white;
  border: 1px solid #f2f2f5;
  border-radius: 2px;
  box-shadow: 0 1px 4px #f2f2f5;
}
.homepage-card img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 9px;
  vertical-align: middle;
}
.homepage-card a {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
}
.card-description {
  margin-top: 17px;
  font-size: 14px;
  line-height: 18px;
}

.commmunity-table {
  box-shadow: 0 2px 4px 2px #f2f2f5;
}
.commmunity-table tbody {
  width: 100%;
  display: table;
}
.commmunity-table td,
.commmunity-table tr {
  border: none;
}
.commmunity-table tr td:first-child {
  width: 100px;
  text-align: center;
}

.commmunity-table .color {
  font-size: 20px;
  color: #e40065;
  font-weight: bold;
  margin-bottom: 5px;
}

.commmunity-table tr td:last-child {
  padding-bottom: 10px;
}

.commmunity-table tr td {
  vertical-align: middle;
}

/* moblie */
.navbar__toggle {
  color: #fff;
}
.navbar-sidebar {
  background-color: #fff;
}
.navbar-sidebar__brand {
  background-color: var(--ifm-navbar-background-color);
}

blockquote {
  background-color: rgba(255, 229, 100, 0.3);
  border-left: 8px solid #ffe564;
  padding: 15px 30px 15px 15px;
}

/* 手机端被撑开 */
@media screen and (max-width: 996px) {
  .container {
    max-width: 100vw;
  }
}

.markdown li {
  list-style: none;
}

.markdown li p {
  margin: 0;
}

.markdown li::before {
  content: ' ';
  display: block;
  position: relative;
  left: -14px;
  top: 16px;
  width: 6px;
  height: 4px;
  border: 1px solid #ffb7d7;
  background: #e40065;
}

a:not([href]) {
  color: inherit;
}

.markdown p > img,
.markdown > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
